a {
    text-decoration: none;
}

.row{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.col-12{
    /*width: 1500px;*/
    margin-right: 40px;
}
img{
    width: 500px;
    height: 500px;
}
.header{
    text-align: center;
}
.name{
    margin: 0 20px;
    text-align: center;
}
.row2{
    width: 80%;
    margin: 0 auto;
    display: flex;
}

